<section class="products-section section">
    <div class="products-container container"> 
        <div class="products-text-container">
            <h2 class="about-section-title">About us</h2>
            <h3 class="section-title about-title">Our сraftsmanship: сreating unique handmade furniture</h3>
            <p>Discover the inspiration behind our modern and minimalist designs, and see how we bring them to life through our skilled
            craftsmanship.</p>
            <ul>
               <li>
                5+ Years of experience creating handcrafted furniture
            </li>
               <li>
                100% Sustainably sourced materials used in all of our furniture
               </li>
               <li>
                500+ Unique furniture designs crafted by our skilled artisans
               </li>
            </ul>

        </div>

    <picture>
        <source srcset="../img/about-us.img/product4-desktop-1x.jpg 1x,
                                ../img/about-us.img/product4-desktop-2x.jpg 1x 2x" media="(min-width: 1440px)">
        <source srcset="../img/about-us.img/product3-tab-1x.jpg 1x,
                                        ../img/about-us.img/product3-tab-2x.jpg 2x" media="(min-width: 768px)">
        <source srcset="../img/about-us.img/product2-mob-1x.jpg 1x,
                                        ../img/about-us.img/product2-mob-1x.jpg 2x" media="(min-width: 320px)">


        <img src="../img/about-us.img/product4-desktop-1x.jpg" alt="" width="375px">
</picture>
    </div>

</section>