<section class="about-section section" id="about-us">
    <div class="about-container"> 
        <div class="about-text-container">
            <h2 class="about-section-title">About us</h2>
            <h3 class="section-title about-title">Our сraftsmanship: сreating unique handmade furniture</h3>
            <p>Discover the inspiration behind our modern and minimalist designs, and see how we bring them to life through our skilled
            craftsmanship.</p>
            <ul class="about-list">
               <li class="about-list-item">
                <span class="about-span">5+</span> 
                <p>Years of experience creating handcrafted furniture</p> 
            </li>
               <li class="about-list-item">
                <span class="about-span">100%</span>
                <p>Sustainably sourced materials used in all of our furniture</p> 
               </li>
               <li class="about-list-item">
                <span class="about-span">500+</span>
                <p>Unique furniture designs crafted by our skilled artisans</p>
                
               </li>
            </ul>

        </div>
<div class="picture-container">
<picture>
    <source srcset="./img/about-us.img/product4-desktop-1x.jpg 1x, ./img/about-us.img/product4-desktop-2x.jpg 2x" media="(min-width: 1440px)">
    <source srcset="./img/about-us.img/product3-tab-1x.jpg 1x,
                                        ./img/about-us.img/product3-tab-2x.jpg 2x" media="(min-width: 768px)">
    <source srcset="./img/about-us.img/product2-mob-1x.jpg 1x,
                                        ./img/about-us.img/product2-mob-1x.jpg 2x" media="(min-width: 320px)">


    <img class="about-img" src="./img/about-us.img/product4-desktop-1x.jpg" alt="" width="704">
</picture>
</div>
   
    </div>

</section>
