<section class="bestsellers-section section" id="bestsellers">
  <div class="containerella bestsellers-galery-container">
    <h2 class="bestsellers-h2 section-title">Bestsellers</h2>
    <div class="bestsellers-picture-container">
      <!--for big pictures container-->
      <a href="" class="link bestsellers-bigpicture-link">
        <div class="bestsellers-bigpicture-container">
          <picture>
            <source
              srcset="
                ./img/bestsellers.img/product9-desktop-1x.jpg 1x,
                ./img/bestsellers.img/product9-desktop-2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ./img/bestsellers.img/product6-tab-1x.jpg 1x,
                ./img/bestsellers.img/product6-tab-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/bestsellers.img/product4-mob-1x.jpg 1x,
                ./img/bestsellers.img/product4-mob-2x.jpg 2x
              "
              media="(min-width:320px)"
            />

            <img
              class="bestsellers-big-img"
              src="./img/bestsellers.img/product4-mob-1x.jpg"
              alt="platform bad"
              width="343"
            />
          </picture>

          <h3 class="bestsellers-name">The modern platform bed</h3>
          <p class="bestsellers-price-p">750&#36;</p>
        </div>
      </a>
      <!--for small pictures container-->
      <div class="bestsellers-smallpicture-container">
        <ul class="bestsellers-smallpicture-list">
          <li class="bestsellers-smallimg-item">
            <a href="" class="link bestsellers-smallpicture-link">
              <picture>
                <source
                  srcset="
                    ./img/bestsellers.img/product10-desktop-1x.jpg 1x,
                    ./img/bestsellers.img/product10-desktop-2x.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./img/bestsellers.img/product7-tab-1x.jpg 1x,
                    ./img/bestsellers.img/product7-tab-2x.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./img/bestsellers.img/product5-mob-1x.jpg 1x,
                    ./img/bestsellers.img/product5-mob-2x.jpg 2x
                  "
                  media="(min-width:320px)"
                />

                <img
                  class="bestsellers-small-img"
                  src="./img/bestsellers.img/product5-mob-1x.jpg"
                  alt="Lounge Chair"
                  width="343"
                />
              </picture>

              <h3 class="bestsellers-name">The Cozy Lounge Chair</h3>
              <p class="bestsellers-price-p">230&#36;</p>
            </a>
          </li>
          <li class="bestsellers-smallimg-item">
            <a href="" class="link bestsellers-smallpicture-link">
              <picture>
                <source
                  srcset="
                    ./img/bestsellers.img/product11-desktop-1x.jpg 1x,
                    ./img/bestsellers.img/product11-desktop-2x.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./img/bestsellers.img/product8-tab-1x.jpg 1x,
                    ./img/bestsellers.img/product8-tab-2x.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./img/bestsellers.img/product6-mob-1x.jpg 1x,
                    ./img/bestsellers.img/product6-mob-2x.jpg 2x
                  "
                  media="(min-width:320px)"
                />

                <img
                  class="bestsellers-small-img"
                  src="./img/bestsellers.img/product6-mob-1x.jpg"
                  alt="chair"
                  width="343"
                />
              </picture>

              <h3 class="bestsellers-name">The industrial accent chair</h3>
              <p class="bestsellers-price-p">250&#36;</p>
            </a>
          </li>
          <li class="bestsellers-smallimg-item not-mob">
            <a href="" class="link bestsellers-smallpicture-link">
              <picture>
                <source
                  srcset="
                    ./img/bestsellers.img/product12-desktop-1x.jpg 1x,
                    ./img/bestsellers.img/product12-desktop-2x.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./img/bestsellers.img/product9-tab-1x.jpg 1x,
                    ./img/bestsellers.img/product9-tab-2x.jpg 2x
                  "
                  media="(min-width:768px)"
                />

                <img
                  class="bestsellers-small-img"
                  src="./img/bestsellers.img/product12-desktop-1x.jpg"
                  alt="sleek stand"
                  width="258"
                />
              </picture>

              <h3 class="bestsellers-name">The sleek stand</h3>
              <p class="bestsellers-price-p">300&#36;</p>
            </a>
          </li>
          <li class="bestsellers-smallimg-item not-mob">
            <a href="" class="link bestsellers-smallpicture-link">
              <picture>
                <source
                  srcset="
                    ./img/bestsellers.img/product13-desktop-1x.jpg 1x,
                    ./img/bestsellers.img/product13-desktop-2x.jpg 2x
                  "
                  media="(min-width:1440px)"
                />
                <source
                  srcset="
                    ./img/bestsellers.img/product10-tab-1x.jpg 1x,
                    ./img/bestsellers.img/product10-tab-2x.jpg 2x
                  "
                  media="(min-width:768px)"
                />

                <img
                  class="bestsellers-small-img"
                  src="./img/bestsellers.img/product13-desktop-1x.jpg"
                  alt="sofa"
                  width="258"
                />
              </picture>

              <h3 class="bestsellers-name">The minimalist sofa</h3>
              <p class="bestsellers-price-p">650&#36;</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
