<!--Clients reviews-->
<section class="clients-reviews section" id="reviews">
    <div class="clients-container container"> 
    <h2 class="clients-title section-title">CLIENTS REVIEWS</h2>
        <ul class="clients-list list">
          <li class="clients-item">
            <div class="clients-block">
              <picture>    
                <source srcset="./img/clients-reviews.img/Ellipse1-desktop-1x.jpg 1x, ./img/clients-reviews.img/Ellipse1-desktop-2x.jpg 2x" media="(min-width: 1440px)"/>
                <source srcset="./img/clients-reviews.img/Ellipse1-tab-1x.jpg 1x, ./img/clients-reviews.img/Ellipse1-tab-2x.jpg 2x" media="(min-width: 768px)"/>
                <source srcset="./img/clients-reviews.img/Ellipse1-mob-1x.jpg 1x, ./img/clients-reviews.img/Ellipse1-mob-2x.jpg 2x" media="(min-width: 375px)"/>
                <img class="clients-list-img"
                src="./img/clients-reviews.img/Ellipse1-desktop-1x.jpg"
                alt="Alexandra Dream"
                width="56"
                height="56"
                />
              </picture>
              <div class="clients-info">
                <h3 class="clients-name">ALEXANDRA DREAM</h3>
                <p class="clients-term">1 week ago</p>
              </div>
              </div>
           <p class="clients-text">I was blown away by the quality and craftsmanship of the furniture I received from this company. Each piece was unique and beautifully designed, and you can tell that a lot of thought and care goes into every detail. </p>
          </li>
           <li class="clients-item">
            <div class="clients-block">
              <picture>
                <source srcset="./img/clients-reviews.img/Ellipse2-desktop-1x.jpg 1x, 
                ./img/clients-reviews.img/Ellipse2-desktop-2x.jpg 2x" media="(min-width: 1440px)"/>
                <source srcset="./img/clients-reviews.img/Ellipse2-tab-1x.jpg 1x, ./img/clients-reviews.img/Ellipse2-tab-2x.jpg 2x" media="(min-width: 768px)"/>
                <img class="clients-list-img"
                src="./img/clients-reviews.img/Ellipse2-desktop-1x.jpg"
                alt="James Williams"
                width="56"
                height="56"
                />
              </picture>
              <div class="clients-info"> 
                <h3 class="clients-name">JAMES WILLIAMS</h3>
                <p class="clients-term">A week ago</p>   
              </div>
              </div>
              <p class="clients-text">The "Minimal" furniture set is a fantastic addition to my home. It boasts a minimalist design, enhancing the feel and look of my living space. The sturdy construction is worth noting too, which speaks volumes about its durability.</p>
              </li>
                <li class="clients-item">
                    <div class="clients-block"> 
                      <picture>
                        <source srcset="./img/clients-reviews.img/Ellipse3-desktop-1x.jpg 1x, ./img/clients-reviews.img/Ellipse3-desktop-2x.jpg 2x" media="(min-width: 1440px)"/>
                        <img class="clients-list-img"
                        src="./img/clients-reviews.img/Ellipse3-desktop-1x.jpg"
                        alt="Emily Watson"
                        width="56"
                        height="56"
                        />
                      </picture>
                      <div class="clients-info"> 
                        <h3 class="clients-name">EMILY WATSON</h3>
                        <p class="clients-term">3 week ago</p>
                      </div>
                      </div>
                    <p class="clients-text">The "Minimal" furniture set has far exceeded my expectations. The sleek design combined with the high-quality materials have not only added an exceptional aesthetic to my space but also offered an uncompromising standard of comfort.</p>
                  </li>
       </ul>
    </div>
    </section>