<footer id="footer" class="footer conteiner">
<div class="footer-logo-social">
    <div class="tablet-version">
    <a class="footer-logo link" href="#">
        <svg class="footer-logo-icon" width="127" height="16">
            <use href="./img/icons.svg#icon-logo-mob"></use>
        </svg>
    </a>
    <a class="footer-logo-tab link" href="#">
        <svg class="footer-logo-icon-tab" width="100" height="16">
            <use href="./img/icons.svg#icon-logo-mob"></use>
        </svg>
    </a>
    <div class="address-tab">
    <address class="footer-address-tab list">
            <div class="contact-address-tab link">
                <a href="https://goo.gl/maps/vMSnSgSJp1NuAyd78">Obolonsky Prospect, 14, Kyiv</a>
                <div>Daily 10:00-21:00</div>
            </div>
            <div class="footer-address-tel-tab">
                <ul class="footer-address-list-tab list">
                    <li class="footer-address-item-tab"><a class="footer-address-list-tel-tab link" href="tel:+380669384758">+380669384758</a></li>
                    <li class="footer-address-item-tab"><a class="footer-address-list-tel-tab link" href="tel:+380679384758">+380679384758</a></li>
                </ul> 
            </div>
            <ul class="footer-address-mail-tab list">
                <li class="footer-address-email-tab"><a class="footer-address-mail-list-tab link" href="mailto:minimal.furniture@gmail.com">minimal.furniture@gmail.com</a></li>
            </ul>
        </address>
    </div>
</div>
    <div class="navigation-tab">
        <nav class="footer-nav-tab">
            <ul class="footer-menu-nav-tab list">
                
                <li class="footer-menu-imet">
<a class="footer-nav-link" href="#about-us">About us</a>
                </li>
                
                    <li class="footer-menu-imet">
                        <a class="footer-nav-link" href="#our-products">Our products</a>
                    </li>
                
                
                    <li class="footer-menu-imet">
                        <a class="footer-nav-link" href="#price">Prices</a>
                    </li>
                
               
                    <li class="footer-menu-imet">
                        <a class="footer-nav-link" href="#bestsellers">Bestsellers</a>
                    </li>
                
                
                    <li class="footer-menu-imet">
                        <a class="footer-nav-link" href="#reviews">Reviews</a>
                    </li>
               
                
            </ul>
        </nav>
    </div>
    <div class="footer-social">
        <ul class="footer-social-icon-mob">
            <li>
                <a class="footer-icon-link link" href="https://www.facebook.com/">
                <svg class="footer-soclink-icon" width="28" height="28">
                    <use href="./img/icons.svg#icon-facebook-logo-mob"></use>
                </svg>
            </a>
        </li>
            <li>  
                <a class="footer-icon-link link" href="https://www.instagram.com/">
                <svg class="footer-soclink-icon" width="28" height="28">
                    <use href="./img/icons.svg#icon-instagram-logo-mob"></use>
                </svg>
            </a>
        </li>
            <li>  
                <a class="footer-icon-link link" href="http://www.youtube.com/">
                <svg class="footer-soclink-icon" width="28" height="28">
                    <use href="./img/icons.svg#icon-youtube-logo-mob"></use>
                </svg>
            </a>
        </li>
        </ul>
        <ul class="footer-social-icon-tab">
            <li>
                <a class="footer-icon-link link" href="https://www.facebook.com/">
                <svg class="footer-soclink-icon" width="40" height="40">
                    <use href="./img/icons.svg#icon-facebook-logo-tablet"></use>
                </svg>
            </a>
        </li>
            <li>  
                <a class="footer-icon-link link" href="https://www.instagram.com/">
                <svg class="footer-soclink-icon" width="40" height="40">
                    <use href="./img/icons.svg#icon-instagram-logo-tablet"></use>
                </svg>
            </a>
        </li>
            <li>  
                <a class="footer-icon-link link" href="http://www.youtube.com/">
                <svg class="footer-soclink-icon" width="40" height="40">
                    <use href="./img/icons.svg#icon-youtube-logo-tablet"></use>
                </svg>
            </a>
        </li>
        </ul>
    </div>
</div>
<div class="navigation-mob">
    <nav class="footer-nav-mob">
        <ul class="footer-menu-nav-mob list">
            <li class="footer-menu-imet">About us
                <a href="#about-us"></a>
            </li>
            <li class="footer-menu-imet">Our products
                <a href="#our-products"></a>
            </li>
            <li class="footer-menu-imet">Prices
                <a href="#price"></a>
            </li>
            <li class="footer-menu-imet">Bestsellers
<a href="#bestsellers"></a>
            </li>
            <li class="footer-menu-imet">Reviews
                <a href="#reviews"></a>
            </li>
        </ul>
    </nav>
</div>
<div class="address">
    <address class="footer-address list">
        <div class="contact-address link">
            <a href="https://goo.gl/maps/vMSnSgSJp1NuAyd78">Obolonsky Prospect, 14, Kyiv</a>
            <div>Daily 10:00-21:00</div>
        </div>
        <div class="footer-address-tel">
            <ul class="footer-address-list list">
                <li class="footer-address-item"><a class="footer-address-list-tel link" href="tel:+380669384758">+380669384758</a></li>
                <li class="footer-address-item"><a class="footer-address-list-tel link" href="tel:+380679384758">+380679384758</a></li>
            </ul> 
        </div>
        <ul class="footer-address-mail list">
            <li class="footer-address-email"><a class="footer-address-mail-list link" href="mailto:minimal.furniture@gmail.com">minimal.furniture@gmail.com</a></li>
        </ul>
    </address>
</div>
<div class="footer-policy">
    <p>By using this website, you agree to the 
        <a href="#" class="terms-of-service">Terms of Service </a> and 
        <a href="#" class="privacy-policy">Privacy Policy</a>
    </p>
    </div>
</footer>


