<div>
  <div class="header-container">
    <a href="index.html">
      <svg class="mob-logo">
        <use href="../img/icons.svg#icon-logo-mob"></use>
      </svg>
    </a>
    <nav class="header-nav-desk">
      <ul class="header-list-desk">
        <li class="mob-menu-li-desk">
          <a class="mob-menu-item-desk" href="./about-us.html">About us</a>
        </li>
        <li class="mob-menu-li-desk">
          <a class="mob-menu-item-desk" href="./our-products.html"
            >Our products</a
          >
        </li>
        <li class="mob-menu-li-desk">
          <a class="mob-menu-item-desk" href="./price.html">Prices</a>
        </li>
        <li class="mob-menu-li-desk">
          <a class="mob-menu-item-desk" href="./bestsellers.html"
            >Bestsellers</a
          >
        </li>
        <li class="mob-menu-li-desk">
          <a class="mob-menu-item-desk" href="./clients-reviews.html"
            >Reviews</a
          >
        </li>
        <li class="mob-menu-li-desk">
          <a class="mob-menu-item-desk" href="./subscription.html">Contacts</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="header-burger" data-menu-open>
      <svg header-burger-svg class="header-burger-svg">
        <use href="../img/icons.svg#icon-menu-hamburger"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu is-hidden" data-menu>
    <div class="header-container">
      <a href="index.html">
        <svg class="mob-logo">
          <use href="./img/icons.svg#icon-logo-mob"></use>
        </svg>
      </a>
      <button type="button" class="button-close" data-menu-close>
        <svg class="button-close-svg">
          <use href="./img/icons.svg#icon-x"></use>
        </svg>
      </button>
    </div>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="mob-menu-li">
          <a class="mob-menu-item" href="./about-us.html">About us</a>
        </li>
        <li class="mob-menu-li">
          <a class="mob-menu-item" href="./our-products.html">Our products</a>
        </li>
        <li class="mob-menu-li">
          <a class="mob-menu-item" href="./price.html">Prices</a>
        </li>
        <li class="mob-menu-li">
          <a class="mob-menu-item" href="./bestsellers.html">Bestsellers</a>
        </li>
        <li class="mob-menu-li">
          <a class="mob-menu-item" href="./clients-reviews.html">Reviews</a>
        </li>
        <li class="mob-menu-li">
          <a class="mob-menu-item" href="./subscription.html">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
