<div class="container">
  <div class="header-container">
    <a href="index.html">
      <svg class="mob-logo" height="16" width="100">
        <use href="../img/icons.svg#icon-logo-mob"></use>
      </svg>
    </a>

    <button
      type="button"
      class="header-burger"
      data-menu-open
      width="32"
      height="32"
    >
      <svg width="32" height="32" class="header-burger-svg">
        <use href="../img/icons.svg#"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu is-hidden" data-menu>
    <div class="header-container">
      <a href="index.html" class="mob-logo">
        <svg class="mob-logo" height="16" width="100">
          <use href="../img/icons.svg#icon-logo-mob"></use>
        </svg>
      </a>
      <button type="button" class="button-close" data-menu-close>
        <svg width="32" height="32">
          <use href="../img/icons.svg#icon-close-mob"></use>
        </svg>
      </button>
    </div>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="mob-menu-li">
          <a class="mob-menu-item" href="./about-us.html">About us</a>
        </li>
        <li class="mob-menu-li">
          <a class="mob-menu-item" href="./our-products.html">Our products</a>
        </li>
        <li class="mob-menu-li">
          <a class="mob-menu-item" href="./price.html">Prices</a>
        </li>
        <li class="mob-menu-li">
          <a class="mob-menu-item" href="./bestsellers.html">Bestsellers</a>
        </li>
        <li class="mob-menu-li">
          <a class="mob-menu-item" href="./clients-reviews.html">Reviews</a>
        </li>
        <li class="mob-menu-li">
          <a class="mob-menu-item" href="./subscription.html">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<script src="../js/menu.js"></script>
