<div class="header-container">
  <a href="index.html">
    <svg>
      <use href="../img/icons.svg#icon-logo-mob"></use>
    </svg>
  </a>

  <button type="button" class="header-burder" data-menu-open>
    <svg>
      <use href="../img/icons.svg#icon-align-justify-mob"></use>
    </svg>
  </button>
  <div class="mob-menu">
    <a href="index.html">
      <svg>
        <use href="../img/icons.svg#icon-logo-mob"></use>
      </svg>
    </a>
    <button class="button-close" data-menu-close>
      <svg height="32" width="32">
        <use href="../img/icons.svg#icon-close-mob"></use>
      </svg>
    </button>
    <nav class="header-nav">
      <ul class="header-list">
        <li>
          <a class="mob-menu-item" href="./about-us.html">About us</a>
        </li>
        <li>
          <a class="mob-menu-item" href="./our-products.html">Our products</a>
        </li>
        <li>
          <a class="mob-menu-item" href="./price.html">Prices</a>
        </li>
        <li>
          <a class="mob-menu-item" href="./bestsellers.html">Bestsellers</a>
        </li>
        <li>
          <a class="mob-menu-item" href="./clients-reviews.html">Reviews</a>
        </li>
        <li>
          <a class="mob-menu-item" href="./subscription.html">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
