<section class="product section-product" id="our-products">
    <div  class="container-product">
        <h2 class="sub-title-product">Our products</h2>
        <ul class="product-list">
            <li class="product-item">
                <a href="#" class="product-link link">
                    <picture>
                        <source 
                           srcset="./img/our-products.img/product5-desktop-1x.jpg 1x, 
                                   ./img/our-products.img/product5-desktop-2x.jpg 2x" 
                            media="(min-widht: 1440px)" >
                        <source 
                           srcset="./img/our-products.img/product4-tab-1x.jpg, 
                                   ./img/our-products.img/product4-tab-2x.jpg 2x" 
                            media="(min-widht: 768px)" >
                        <source 
                            srcset="./img/our-products.img/product3-mob-1x.jpg 1x, 
                                    ./img/our-products.img/product3-mob-2x.jpg 2x" 
                            media="(min-widht: 320px)" >
                        <img src="./img/our-products.img/product5-desktop-1x.jpg" 
                            class="product-img" 
                            alt="Minimalist storage solutions" 
                            width="343" >
                    </picture>
                    <h3 class="text-titel-product">Minimalist storage solutions</h3>
                </a>
            </li>
            <li class="product-item wraper-tab">
                <a href="#" class="product-link link">
                    <picture>
                        <source 
                            srcset="./img/our-products.img/product6-desktop-1x.jpg 1x, 
                                    ./img/our-products.img/product6-desktop-2x.jpg 2x" 
                            media="(min-widht: 1440px)" >
                        <source 
                            srcset="./img/our-products.img/product5-tab-1x.jpg 1x, 
                                    ./img/our-products.img/product5-tab-2x.jpg 2x" 
                            media="(min-widht: 768px)" >
                        <img src="./img/our-products.img/product6-desktop-1x.jpg" 
                            class="product-img" 
                            alt="Handcrafted minimalist seating" 
                            width="343" >
                    </picture>
                    <h3 class="text-titel-product">Handcrafted minimalist seating</h3>
                </a>
            </li>
            <li class="product-item wraper-dec">
                <a href="#" class="product-link link">
                    <picture>
                        <source 
                            srcset="./img/our-products.img/product7-desktop-1x.jpg 1x, 
                                    ./img/our-products.img/product7-desktop-2x.jpg 2x" 
                            media="(min-widht: 1440px)" >
                        <img src="./img/our-products.img/product7-desktop-1x.jpg" 
                            class="product-img" 
                            alt="Sleek and simple tables" 
                            width="343" >
                    </picture>
                    <h3 class="text-titel-product">Sleek and simple tables</h3>
                </a>
            </li>
            <li class="product-item wraper-dec">
                <a href="#" class="product-link link">
                    <picture>
                        <source 
                            srcset="./img/our-products.img/product8-desktop-1x.jpg 1x, 
                                    ./img/our-products.img/product8-desktop-2x.jpg 2x" 
                            media="(min-widht: 1440px)" >
                        <img src="./img/our-products.img/product8-desktop-1x.jpg" 
                            class="product-img" 
                            alt="Minimalist seating for every space" 
                            width="343" >
                    </picture>
                    <h3 class="text-titel-product">Minimalist seating for every space</h3>
                </a>
            </li>
        </ul>
    </div>
</section>