<section class="plan-container section" id="price">
    <div class="container">
        <h2 class="sub-title-plan visually-hidden">Product price</h2>
        <ul class="plan-list">
            <li class="plan-item">
                
                    <h2 class="plan-text">Chairs</h2>
                    <p class="plan-options zoom-element">from 200
                        <span>&#36;</span>
                    </p>
                
                
            </li>
            <li class="plan-item">
                <h2 class="plan-text">Tables</h2>
                <p class="plan-options">from 250
                    <span>&#36;</span></p>
            </li>
            <li class="plan-item">
                <h2 class="plan-text">Dressers</h2>
                <p class="plan-options">from 300
                    <span>&#36;</span></p>
            </li>
            <li class="plan-item">
                <h2 class="plan-text">Sofas</h2>
                <p class="plan-options">from 500
                    <span>&#36;</span></p>
            </li>
        </ul>
    </div>
</section>