.clients-reviews {
    background-color: var(--background-white-blue-color);
    padding-bottom: 64px;
    padding-top: 64px;
    margin: 0 auto;
} 

.clients-title {
    text-align: center;
    margin-bottom: 30px;
   
}

.clients-container {
 padding-left: 16px;
 padding-right: 16px;
 padding-bottom: 36px;
 }


.clients-block {
 display: flex;
 margin-bottom: 24px;
 gap: 14px;
}

.clients-info {
   flex-direction: column;
}

.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.clients-item {
    width: 100%;
    height: 230px;
    border-radius: 8px;
    background-color: var(--background-white-color);
    padding: 24px 23px 24px 24px;
}

.clients-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.78;
    text-transform: uppercase;
  }

.clients-term {
    font-size: 14px;
    line-height: 1.28;
}

.clients-text {
    font-size: 14px;
    line-height: 1.43;
}

.clients-list .clients-item:nth-child(2),
.clients-list .clients-item:nth-child(3){
display: none;
}

@media screen and (min-width: 375px){
    .container {
        max-width: 375px;
    }
}

@media  screen and (min-width: 768px) {
      .container {
        max-width: 768px;
      } 
    
    .clients-container {
        padding-left: 32px;
            padding-right: 32px;
        
     }

   .clients-reviews {
    padding-top: 36px;
    padding-bottom: 36px;
   }

        .clients-title {
           
        font-size: 32px;
        line-height: 1.41;
        }

       .clients-item {
        width: calc((100% - 16px)/2);
        height: 319px;
        padding: 24px;
       } 


       .clients-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
       }

       .clients-block {
        flex-direction: row;
        margin-bottom: 14px;
       }

       .clients-text {
        font-size: 18px;
        line-height: 1.5;
       }

       .clients-list .clients-item:nth-child(2) 
       {
       display: block;
       } 
  }

@media  screen and (min-width:1440px) {
        .container {
        max-width: 1440px;
        padding-right: 15px;
        padding-left: 15px;
        margin: o auto;
    }

    .clients-container {
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 60px;
        padding-right: 60px;
    }
    
    .clients-title {
       font-size: 32px;
       line-height: 1.41;
       
    }

    .clients-reviews {
        background-color: var(--background-white-blue-color);
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .clients-list {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    
    .clients-item {
        width: calc((100% - 48px) / 3);
        height: 306px;
        padding: 32px;
    }

    .clients-block {
        margin-bottom: 16px;
        flex-direction: row;
    }

    .clients-list .clients-item:nth-child(2),
    .clients-list .clients-item:nth-child(3){  
    display: block;
}

 }

