.footer {
    background-color: var(--background-footer-color);
    padding-top: 36px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.footer-logo-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}

.footer-logo-icon {
    fill: var(--white-text-color);
}

.footer-icon-link {
    display: flex;
}

.footer-social-icon-mob {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.footer-social-icon-tab {
    display: none;
}

.footer-soclink-icon {
    fill: var(--white-text-color);
}

.nvigatioan-mob {
    margin-bottom: 36px;
}
.footer-nav-mob {
}

.footer-nav-tab {
    display: none;
}

.footer-menu-imet {
    display: flex;
}

.footer-menu-nav-mob {
    color: var(--white-text-color);
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.footer-address {
    color: var(--white-text-color);
    font-size: 16px;
    letter-spacing: 0.01em;
    margin-bottom: 64px;
}
.link {
    text-decoration: none;
    font-style: normal;
}

.contact-address {
    display: flex;
    gap: 8px;
    padding-bottom: 36px;
    flex-direction: column;
}

.footer-address-list {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.footer-address-mail {
    display: none;
}

.footer-policy {
    color: var(--white-text-color);
    min-width: 343px;
    text-align: center;
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.12em;
    opacity: 0.6;
    margin: auto;
}

.terms-of-service {
    text-decoration: underline;
}
.privacy-policy {
    text-decoration: underline;
}


@media screen and (min-width: 375px){
    .container {
        max-width: 375px;
    }
    
    .footer-social-icon-mob {
        display: none;
    }

    .footer-social-icon-tab {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .footer-nav-tab {
    display: none;
}
}


@media  screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    } 
    .footer {
        padding-bottom: 36px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .footer-logo-social {
        align-items: flex-start;
        margin-bottom: 0px;
        }


    .footer-logo-icon {
        width: 127px;
    }

    .footer-nav-mob {
        display: none;
    }

    .navigation-tab {
        display: flex;
        margin-bottom: 0px;
    }

    .footer-menu-nav-tab {
        color: var(--white-text-color);
        font-size: 18px;
        line-height: 1.5;
        display: flex;
        gap: 16px;
        flex-direction: column;
    }

    .footer-social-icon-tab {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    
    .footer-social-icon-mob {
        display: none;
    }
    .footer-social-icon-tab {
        display: flex;
    }
    .footer-nav-tab {
        display: flex;
    }
    .footer-address-mail {
        display: flex;
    }


}

@media  screen and (min-width:1440px) {
    .container {
    max-width: 1440px;
}
.footer {
    padding-left: 60px;
    padding-right: 60px;
}

.footer-social-icon-tab {
    gap: 32px;
}

}

