header {
  background-color: var(--background-white-blue-color);
  padding-top: 28px;
  padding-bottom: 28px;
}

.header-container {
  display: flex;
    max-width: 375px;
    height: 32px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.logo-link {
  display: flex;
  padding: 0;
}

.mob-menu {
  background-color: var(--background-white-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 812px;
  z-index: 2;
  overflow: scroll;
  
}

.menu-open-btn {
  background-color: transparent;
  border: none;
cursor: pointer;
  height: 100%;
    margin-left: auto;
    padding: 0;
}

.header-nav-desk {
  display: none;
}

.header-menu-container {
  display: flex;
padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-white-blue-color);

}

.menu-close-btn {
  display: flex;
  fill: #0A224A;
  position: absolute;
  height: 32px;
  width: 32px;
  right: 16px;
  cursor: pointer;

    align-items: center;
    justify-content: center;
  border-color: transparent;
  background-color: transparent;
  
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header-nav {
  display: flex;
  align-items: center;
padding-top: 114px;
padding-bottom: 100px;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}

.header-list {
  
  gap: 17px;
  display: flex;
  flex-direction: column;
}

.mob-menu-li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mob-menu-li {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .mob-logo {
    width: 127px;
    
    
  }
  .header-container {
    height: 40px;
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .header-burger {
    margin-right: 32px;
    margin-top: 28px;
    width: 40px;
    height: 40px;
  }

  .header-burger-svg {
    width: 40px;
    height: 40px;
  }

.menu-close-btn {
  width: 40px;
  height: 40px;
}

  .mob-menu-item {
    font-size: 18px;
  }

.header-nav {
  padding-top: 150px;
}

  .header-list {
    gap: 30px;
   
  }

  .button-close {
    height: 40px;
    width: 40px;
    margin-right: 32px;
    
  }

}

@media screen and (min-width: 1440px) {
  header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  
  .mob-logo {
    width: 127px;
  }

  .header-container {
    height: 43px;
        max-width: 1440px;
        padding-left: 60px;
        padding-right: 60px;
      
  }

  .header-burger-svg {
    display: none;
  }

  .header-burger {
    display: none;
  }

  .header-nav-desk {
    display: flex;
    align-items: center;

    justify-content: center;
    flex-direction: row;
    gap: 30px;
    padding: 8px;
    margin-right: 0;
    margin-left: 572px;
  }

  .header-list-desk {
    gap: 30px;
    display: flex;
    flex-direction: row;
    
  }

  .mob-menu-item-desk {
    color: var(--primary-text-color);
    font-family: Roboto;
    font-size: 18px;
display: flex;
    font-weight: 400;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-menu-li-desk {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .mob-menu-item-desk.link:hover,
  .mob-menu-item-desk.link:focus {
    color: var(--checkbox-text-color);
  }
}


