.plan-container {
    display: flex;
  }
  
  .plan-list { 
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 64px;
  } 
  
  .plan-text{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #0A224A;
    text-align: left;
  }
    
  
  .plan-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: 1px solid #0A224A;
    min-width: 288px;
    padding: 30px 0;
  }
  
  .plan-item:last-child {
    border-bottom: 1px solid #0A224A;
  }
          
  .plan-options {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: right;
    color: #0A224A;
  }