/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./variable.css');
@import url('./components.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-us.css');
@import url('./price.css');
@import url('./our-products.css');
@import url('./bestsellers.css');
@import url('./clients-reviews.css');
@import url('./subscription.css');
@import url('./footer.css');


