.subscription-title {
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}

.subscription-text {
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.subscription-field {
  position: relative;
  margin-bottom: 20px;
}

.subscription-input {
  width: 100%;
  height: 50px;
  border: 1px solid #b6b6b6;
  padding: 11px 20px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  letter-spacing: 0.04em;
}

.input-error-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-input:focus {
  border-color: var(--primary-text-color);
}

.subscription-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--placeholder-text-color);
}

.subscription-field input:focus::placeholder {
  opacity: 0;
}

.subscription-input:invalid:not(:placeholder-shown) {
  border: 1px solid #e74a3b;
  color: #e74a3b;
  outline: transparent;
  color: red;
  padding-right: 44px;
}

.subscription-input:invalid:not(:placeholder-shown) + .input-error-icon {
  fill: #e74a3b;
}

.subscription-checkbox {
  position: relative;
  margin-bottom: 30px;
}

.check-label {
  color: var(--checkbox-text-color);
}

.subscription-check:checked + .check-label span {
  background-color: var(--primary-text-color);
  border: none;
  fill: var(--white-text-color);
}

.subscription-check:focus + .check-label span {
  border-color: var(--primary-text-color);
}

.check-label span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 1px solid #b6b6b6;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-send-button {
  max-width: 224px;
  width: 100%;
  background-color: var(--primary-text-color);
  color: var(--white-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  padding: 17px 65px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-send-button:hover,
.subscription-send-button:focus {
  background-color: var(--button-accent-color);
  outline: transparent;
}

.subscription-form {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .subscription-main-container {
    max-width: 536px;
  }

  .subscription-title {
    font-size: 32px;
    line-height: 1.4;
    text-align: start;
    margin-bottom: 30px;
  }

  .subscription-text {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .subscription-field {
    margin-bottom: 20px;
  }

  .subscription-input::placeholder {
    font-size: 18px;
  }

  .check-label {
    font-size: 18px;
  }

  .subscription-checkbox {
    margin-bottom: 31px;
  }

  .subscription-send-button {
    font-size: 18px;
    padding: 12px 65px;
  }

  .subscription-form {
    margin-bottom: 64px;
  }

  .subscription-img {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .subscription.section {
    padding-top: 100px;
    padding-bottom: 86px;
  }

  .subscription-input-section {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
  }

  .subscription-title {
    margin-bottom: 32px;
  }

  .subscription-text {
    margin-bottom: 21px;
  }

  .subscription-input {
    height: 52px;
    padding: 11px 20px;
  }

  .subscription-field {
    margin-bottom: 21px;
  }

  .subscription-checkbox {
    margin-bottom: 32px;
  }

  .subscription-form {
    margin-bottom: 0;
  }
}
