:root {
    --primary-text-color: #0A224A;
    --white-text-color: #fff;
    --placeholder-text-color: #D9D9D9;
    --checkbox-text-color: #7A7A7A;
    --button-primary-color: #0A224A;
    --button-accent-color: #061835;
    --background-white-color: #fff;
    --background-white-blue-color: #F7FAFF;
    --background-footer-color: #0A224A;
}